.about {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 14%;
  padding-left: 5%;
  padding-top: 40px;
}

.about p {
  font-size: 20px;
  color: var(--light-color);
  line-height: 1.5;
  letter-spacing: 1px;
  z-index: 10;
}

.about h2 {
  font-size: 30px;
  color: var(--green-color);
  z-index: 10;
}

.strong {
  color: var(--green-color);
  font-weight: 700;
}

@media only screen and (max-width: 1000px) {
  .about {
    width: 70%;
  }
}

@media only screen and (max-width: 750px) {
  .about {
    width: 100%;
  }

  .about p {
    background-color: rgb(1, 1, 1, 0.8);
    padding-left: 20px;
  }
}
