@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&family=Poppins:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

* {
  --dark-color: #06010c;
  --gray-color: #5c5c5c;
  --gray-transparent: #5c5c5cdd;
  --green-color: #cdfbd2;
  --light-color: #e9f3ea;
  --warning-color: #cdfbd2;

  --border-radius-first: 20px;
  --border-radius-second: 25px;
  --border-radius-third: 10px;
  --p-font-size: 16px;
  --h2-font-size: 20px;
  --white-border: 5px solid var(--light-color);
  --z-index-first: 10;
  --z-index-second: 4;
  --z-index-third: 2;
}

h1,
h2,
h3,
h5 {
  font-family: 'Poppins', sans-serif;
}

h1 {
  color: var(--light-color);
  font-size: 55px;
}

h3 {
  color: var(--green-color);
  font-weight: normal;
}

h5 {
  color: var(--gray-color);
  font-size: 13px;
}

a {
  font-family: 'Outfit', sans-serif;
  text-decoration: none;
}

body {
  overflow: hidden;
}

h2 {
  font-size: var(--h2-font-size);
  color: var(--light-color);
}

p {
  font-family: 'Cabin', sans-serif;
  font-size: var(--p-font-size);
  color: var(--gray-color);
}

body {
  background-color: var(--dark-color);
  position: relative;
}

.header {
  position: fixed;
  width: 100%;
  height: 15px;
  z-index: var(--z-index-first);
}

.video-player {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: var(--z-index-first);
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container {
  width: auto;
  height: auto;
  padding: 20px;
  background-color: var(--green-color);
  border-radius: var(--border-radius-first);
  position: relative;
}

iframe {
  width: 1000px;
  height: 563px;
  border-radius: var(--border-radius-first);
}

.options {
  position: fixed;
  width: 550px;
  display: flex;
  right: 150px;
  top: 40px;
  justify-content: space-between;
}

.option {
  width: 130px;
  padding: 4px;
  text-align: center;
  cursor: pointer;
  border-radius: var(--border-radius-first);
  transition: all 0.5s;
}

.option:hover {
  transition: all 0.5s;
  background-color: var(--green-color);
}

.option:hover h3 {
  color: var(--dark-color);
}

.option-selected {
  background-color: var(--green-color);
}

.option-selected h3 {
  color: var(--dark-color);
}

.logo {
  position: fixed;
  top: 10px;
  left: 130px;
}

.logo img {
  width: 100px;
}

.section {
  width: 100vw;
  height: 100vh;
}

.title h2 {
  color: var(--gray-color);
}

.loading {
  position: fixed;
  background: var(--dark-color);
  /* background: linear-gradient(0deg, rgb(9, 3, 24) 0%, rgb(3, 24, 6) 100%); */
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button {
  width: 80px;
  height: 30px;
  background-color: var(--warning-color);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-second);
  right: 0;
  top: -40px;
  cursor: pointer;
}

.bg-blur {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(4px);
  pointer-events: none;
  opacity: 0;
}

.bar-menu {
  width: 50px;
  height: 34px;
  position: absolute;
  right: 40px;
  top: 40px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.line-bar {
  width: 100%;
  height: 5px;
  background-color: var(--green-color);
  border-radius: 50px;
}

.container {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
}

.fill {
  width: 100%;
  height: 0%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('assets/imgs/logo.png');
  background-size: 100% auto; /* Maintain aspect ratio, cover width */
  background-position: top;
  animation: fillAnimation 1.4s linear infinite;
  opacity: 1;
}

@keyframes fillAnimation {
  0% {
    opacity: 1;
    height: 0%;
  }
  80% {
    opacity: 1;
  }
  100% {
    height: 300px;
    opacity: 0;
  }
}
.line-bar:nth-child(2) {
  width: 80%;
}
.line-bar:nth-child(3) {
  width: 55%;
}

@media only screen and (max-width: 1023px) {
  .logo {
    left: 20px;
  }
  .options {
    right: 20px;
  }
}

@media only screen and (max-width: 750px) {
  .bar-menu {
    display: flex;
  }

  .options {
    display: flex;
    flex-direction: column;
    background-color: var(--gray-color);
    align-items: center;
    position: fixed;
    height: 250px;
    width: 90%;
    top: 30;
    right: -590px;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 5px 10px var(--green-color);
    opacity: 0;
  }

  .option-selected {
  }
}
