.card {
    position: relative;
    width: 450px;
    height: 410px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: var(--gray-transparent);
    border-radius: var(--border-radius-first);
}

.top-bar {
    position: absolute;
    width: 100%;
    height: 18%;
    background-color: var(--green-color);
}

.card-inside {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: var(--border-radius-first);

}

.title {
    position: absolute;
    width: 45%;
    height: 80px;
    background-color: var(--green-color);
    top: -20px;
    border-top-left-radius: var(--border-radius-first);
    border-top-right-radius: var(--border-radius-first);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.tools {
    position: absolute;
    width: 55%;
    height: 100%;
    background-color: var(--gray-color);
    right: 0;
    border-bottom-left-radius: var(--border-radius-second);
    display: flex;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
}

.tool {
    margin-left: 10px;
    width: auto;
    height: 20px;
    border-radius: var(--border-radius-second);
    background-color: var(--green-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;

}

.tool:nth-child(4) {
    margin-left: 30px;
}

.showcase {
    position: absolute;
    top: 80px;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.showcase-video {
    top: 80px;
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
}



.project-video {
    height: 80%;
    width: 75%;
}

.project-links {
    height: 50%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.button-img {
    width: 90%;
    height: 90%;
    background-color: #5C5C5C;
    border-radius: var(--border-radius-first);
    overflow: hidden;
    border: var(--white-border);
    cursor: pointer;
}

.project-img {
    width: 100%;
}

.link {
    width: 80%;
    height: 30px;
    background-color: var(--green-color);
    border-radius: var(--border-radius-third);
}

.showcase-dsc {
    width: 90%;
    align-self: center;
}

.showcase-dsc p {
    color: var(--light-color);
    font-size: 22px;
}