@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&family=Poppins:wght@700&display=swap');
@import url('https://fonts.cdnfonts.com/css/cabinet-grotesk');

* {
  --dark-color: #06010c;
  --gray-color: #5C5C5C;
  --gray-transparent: #5c5c5c7d;
  --green-color: #CDFBD2;
  --light-color: #e9f3ea;
  --border-radius-first: 20px;
  --border-radius-second: 25px;
  --border-radius-third: 10px;
  --p-font-size: 16px;
  --h2-font-size: 20px;
  --white-border: 5px solid var(--light-color);
}

h1,
h2 {
  font-family: 'Outfit', sans-serif;
  font-family: 'Poppins', sans-serif;
}

a {
  font-family: 'Outfit', sans-serif;
  text-decoration: none;

}

h2 {
  font-size: var(--h2-font-size);
  color: var(--gray-color);
}

p {
  font-family: 'Cabinet Grotesk', sans-serif;
  font-size: var(--p-font-size);
  color: var(--gray-color);
}

body {
  background-color: var(--dark-color);
  position: relative;
}

.header {
  position: sticky;
  width: 100%;
  height: 15px;
  background-color: var(--green-color);
}